*{

	margin: 0px;
	font-family: helvetica;


}

/* container */

.container{

	margin: auto;
	height: 550px;
	width: 900px;
	border: 2px grey solid;
	position: relative;
	background-color: #ccc;
	box-shadow: 0px 0px 10px 0px black;
	/*
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	*/

}


.content{
	background-color: #cca;
	height: 410px;
	width: 900px;
	position: absolute;
	top: 70px;
	left: 0px;
}


/* end container */



/* navigation */
.nav{
	
	height: 50px;
	width: 900px;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 0px 10px 0px black;
	top:;
	left:;
	background-color: black;

	
	
}

.nav ul{
	position: absolute;
	top: -5px;
	left: -40px;
	

}

.nav ul li{
	
	list-style-type: none;
	float: left;
	background-color: ;

}

.nav ul li a{


	color: white;
	text-decoration: none;
	margin-top: 5px;
	line-height: 50px;
	text-align:	center;
	display: block;
	height: 50px;
	width: 100px;
	background-color: black;
	border: 0px white solid;
	box-shadow: 0px 0px 5px 2px grey;
	/*
	border-top-left-radius:8px;
	border-bottom-right-radius:8px;
	*/
	
	
}

.nav ul li a:hover {
	
	background-color: grey;
}


/* end navigation */

a{
	text-decoration:none;
	
}
a:hover{
	text-decoration: underline;
}

/* footer */

div .footer {
	
	position: absolute;
	top: 480px;
	line-height: 60px;
	width: 900px;
}

.divider{
	position: absolute;
	top: 70px;
	left:;
	width: 900px;
	height: 2px;
	color: #c3c3;
	box-shadow: 0px 0px 20px 0px black;
}

hr{
	height: 2px;
	color: #c3c3;
	box-shadow: 0px 0px 20px 0px black;
}

div .footer{

	font-size: 20px;
	letter-spacing: -1.5px;
	color: white;
	text-align: center;
	text-shadow: 0px -1px 0px blue,
				-1px 0px 0px green,
				0px 0px 6px gray;

}

/* end footer */
