header{
    border:2px solid black;
    background-color:lightgreen;
    width:1364px;
    height:80px;
    margin:-9px;
     text-align:center; 
}


nav{
 height:25px;
    width:1364px;
    border:2px solid;
    margin-left:-9px;
    margin-top:7px;
    background-color:rgb(200,200,200)
}

section{
    height:300px;
    width:500px;
    border:2px solid;
    margin-left:-9px;
    margin-top:-2px;
    background-color:rgb(100,100,100);
    color:white;
    display:block;
    border-radius:10px
}


footer{
    background-color:skyblue;
    height:25px;
    width:1364px;
    border:2px solid;
    margin-left:-9px;
    margin-top:7px;
    text-align:center;
}


span{
    font-family:sans-serif;
    color:white;
    text-shadow: -1px 1px rgb(250,250,250);

}


fieldset{
height:50px;
    width:250px
}


input{
border-bottom-right-radius:20px;
border-top-left-radius:20px;

}


.button:hover{
    color:black;
    box-shadow: 1px 1px red;
   /* border-bottom-right-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;*/
   
}


.button{
border-top-left-radius:10px;
border-bottom-left-radius: 10px;
    color:red;
    border-bottom-right-radius:0px;
box-shadow: 1px 1px red;
}

h1{
    text-transform: uppercase;
    color:Blue;
    
}

h1:hover{
text-shadow:2px 2px white;
   
}

article{
float:right;
}

img{
border-radius:10px;
    margin:0;
    box-shadow: 5px 5px black;
    display:;
}

.image1{
height:45px;
    width:40;
    border-bottom-right-radius:10px;
border-top-left-radius:10px;
    float:left;
}
