*
	{
		margin:0px;
		padding:0px;
		
	}
	
body
	{
		background-color:grey;
		
	}
#img1
	{
		margin-top:10px;
		
	}
#img2
	{
		height:100px;
	}
#img2:hover
	{
		cursor:pointer;
	}
span#change
	{
		color:white;
		font-family:sans-serif;
		letter-spacing:-1.5px;
		text-shadow:2px 2px 3px black;
		font-size:50px;
	}
	
div#box{
}

footer
	{
		color: white;
		line-height:60px;
		font-family:sans-serif;
	}